{%extends 'base.html'%}

{%block main_block%}


<h1 class="text-center">Vehicle List</h1>
<div class="container">
  <div class="my-3">
    <form class="d-flex" role="search" action="{%url 'vehicle-all'%}">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="filter" list="records">
      <datalist id="records">
        {%for r in records%}
        <option value="{{r}}"></option>
        {%endfor%}
      </datalist>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
   <div class="row ">
       {%for v in data%}
       <div class="col-3 mb-2">
           <div class="card" style="width:100%">
               {%if v.picture%}
              <img src="{{v.picture.url}}" alt="">
               {%endif%}
               <div class="card-body">
                 <h5 class="card-title">Name:{{v.name}}</h5>
                 <p class="card-text">Description:{{v.description}}</p>
               </div>
               <ul class="list-group list-group-flush">
                 <li class="list-group-item">Varient:{{v.varient}}</li>
                 <li class="list-group-item">Running km:{{v.running_km}}</li>
                 <li class="list-group-item">Price:{{v.price}}</li>
               </ul>
               <div class="card-body">
                <a href="{%url 'vehicle-details' v.id%}">View</a>
                <a href="{%url 'vechicle-delete' v.id%}">Delete</a>
                <a href="{%url 'vehicle-change' v.id%}">Update</a>
               </div>
             </div>
       </div>
       {%endfor%}
   </div>
</div>


{%endblock%}