<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>

<body>
    <h1>Movies All List</h1>

    <div>
        {%for m in data%}
        <div  class="border p-3">
            <p>Title:{{m.title}}</p>
            <p>Genre:{{m.genre}}</p>
            <p>Year:{{m.year}}</p>
            <p>Running Time:{{m.runtime}}</p>
            <p>Language:{{m.language}}</p>
            <p>Rating:{{m.rating}}</p>
        </div>
        {%endfor%}
    </div>
</body>

</html>