{%extends 'base.html'%}

{%block main_block%}

<h1 class="text-center">Movies All List</h1>
<div class="container">
    <div class="row">
        {%for m in data%}
        <div class="col-3 mb-3">
            <div class="card" style="width: 100%;">
               {%if m.picture%}
               <img src="{{m.picture.url}}" alt="..." >
               {%endif%}
                <div class="card-body ">
                    <h5 class="card-title">{{m.title}}</h5>
                    <p class="card-text">{{m.genre}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{m.year}}</li>
                    <li class="list-group-item">Language:{{m.language}}</li>
                    <li class="list-group-item">Rating:{{m.rating}}</li>
                </ul>
                <div class="card-body">
                    <button class="bg-primary"><a  href="{%url 'movie-details' m.id%}">View</a></button>
                    <button class="bg-primary"><a  href="{%url 'movie-delete' m.id%}">Delete</a></button>
                    <button class="bg-primary"><a class="mx-2" href="{%url 'movie-change' m.id%}">Update</a></button>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>

    {%endblock%}